*{
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
body{
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#wrapper{
	margin:0 auto;
	margin-bottom: 70px;
	width: 80%;
}
h2{
	font-family: 'Caveat', cursive;
	text-transform: capitalize;
	font-size: 3.8em;
	text-align: center;
	color: #5c150f;
}
h3{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
	color: #9b3d00;
	text-transform: uppercase;
}
p{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 18px;
	text-align: justify;
	color: #281000;
	padding: 10px 130px;
}
a{
	text-decoration:none;
	cursor: pointer;
}


/*NAVIGATION*/


.bg_color{ 
	background: #e4655a; 
}
.text{
	color: #5c150f;
	font-weight: bold;
	margin: 0 20px;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.4em;
	text-transform: uppercase;
}
.text:hover{
	color: #fbd5c0;
	text-decoration: none;
}
#main-nav{
	text-align: center;
	margin: 0 auto;
}

/*HEADER*/

#heading-container{
	text-align: center;
}

/*MAIN*/

#main-section{
	width: 70%;
	float: left;
	text-align: center;
}
article{
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #fff;
	border-top: 10px solid #e4655a;
	border-bottom: 10px solid #e4655a;
}
hr{
	border:1px solid #e4655a;
	margin:25px 0px;
	width: 100%;
}

/*FACTS ABOUT PANCAKES*/

#facts ul li{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 18px;
	text-align: justify;
	color: #281000;
	padding: 10px 130px;
	list-style-type: none;
}
#facts ul li::before{
	content: "▶";
	color: #e4655a;
	padding-right: 10px;
}

/*ASIDE*/

#side-bar-home{
	width: 30%;
	float: left;
}
.sidebar div{
	margin-left:20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #fff;
	border-top: 10px solid #5c150f;
	border-bottom: 10px solid #5c150f;
}
.sidebar{
	text-align: center;
	color: #e4655a;
	font-family: 'Alegreya Sans',sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.sidebar a{
	text-decoration: none;
	color: #e4655a;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.sidebar a:hover{
	color: #5c150f;
}
.sidebar img{
	height: 170px;
	width: 170px;
	border: 4px solid #e4655a;
	border-radius: 200px;
}

/*FOOTER*/

.foot{
	background-color: #e4655a;
	width: 100%;
	float: left;
}
.foot p{
	font-family: 'Alegreya Sans',sans-serif;
	font-size: 22px;
	text-align: center;
	color: #281000;
	margin: 10px auto;
}

/*PAGE RECIPES*/

.recipe a:hover{
	text-decoration: none;
}
.recipe h2:hover{
	color: #e4655a;
}
.recipe h3{
	font-size: 1.9em;
	margin-top: 30px;
}
.recipe hr{
	width: 80%;
	margin: 0 auto;
}
#show-recipe1, #show-recipe2, #show-recipe3{
	display: none;
}
button{
	width: 40%;
	border: 2px solid #ffe3d7;
	background-color: #ffe3d7;
	font-family: 'Alegreya Sans',sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #5c150f;
	margin: 20px 0px;
	cursor: pointer;
}
button:hover{
	background-color: #5c150f;
	color: #ffe3d7;
	border-color: #5c150f;
}
.indications{
	text-align: center;
	font-family: 'Alegreya Sans',sans-serif;
	font-size: 15px;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top:20px;
}
.indications table{
	margin: 0 auto;
}
.indications tr td{
	width: 100px;
}
.stop-watch{
	height: 55px;
	width: 50px;
}
.img{
	height: 50px;
	width: 50px;
}
#bold{
	font-weight: bold;
}
.ingredients ul li{
	display: block;
	list-style-type: none;
	text-align: center;
	font-family: 'Alegreya Sans',sans-serif;
	font-size: 22px;
	color: #281000;
}
.center{
	text-align: center;
}
.pic{
	width: 65%;
	border: 5px solid #e4655a;
}
iframe{
	margin: 20px auto;
}

/* FORM */

form{
	width: 60%;
	margin:0 auto;
	text-align: left;
}
form input[type="text"], form input[type="email"], form textarea, form input[type="date"], form select{
	width: 100%;
	font-family:  'Alegreya Sans',sans-serif;
	font-size: 1.5em;
	padding: 5px;
	border:1px solid #e4655a;
	border-radius: 3px;
}
form label{
	font-family: 'Alegreya Sans',sans-serif;
	font-size: 1.9em;
	color: #e4655a;
}
input[type="submit"], input[type="reset"]{
	width: 200px;
	font-family:  'Alegreya Sans',sans-serif;
	font-size: 1.8em;
	background-color: #ffe3d7;
	border:1px solid #ffe3d7;
	color: #5c150f;
}
input[type="submit"]:hover, input[type="reset"]:hover{
	background-color: #5c150f;
	color: #ffe3d7;
	border-color: #5c150f;
}
input[type="file"]{
	font-family:  'Alegreya Sans',sans-serif;
	font-size: 1.8em;
	color: #5c150f;
	float: left;
}
input[type="reset"]{
	float: right; 
}
#small-pancakes{
	width: 18%;
}

/*RESPONSIVE DESIGN*/

@media (max-width: 1316px){
	p, #facts ul li{
		padding: 10px 60px;
	}
}
@media (max-width: 1024px){
	input[type="file"]{
		font-size: 19px;
	}
	input[type="submit"], input[type="reset"]{
		width: 140px;
	}
	#side-bar-home{
		width: 100%;
		margin: 0;
	}
	#main-section{
		width: 100%;
		margin: 0;
	}
	.sidebar div{
		margin-left: 0;
	}
	article{
		margin-right: 0;
	}
}
@media (max-width: 768px){
	p, #facts ul li{
		padding: 10px 30px;
	}
	button{
		width: 47%;
	}
	iframe{
		width: 80%;
	}
	form{
		width: 80%;
	}
}
@media (max-width: 479px){
	#wrapper{
		width: 100%;
		margin: 0 auto;
	}
	#heading{
		font-size: 5.8em;
	}
	h3{
		font-size: 1.2em;
	}
	hr{
		width: 99.5%;
	}
	.pic{
		width: 85%;
	}
	button{
		width: 50%;
	}
	iframe{
		width: 85%;
	}
	form{
		width: 90%;
	}
}
@media (max-width: 320px){
	#heading{
		font-size: 4em;
	}
	h2{
		font-size: 3em;
	}
	input[type="submit"], input[type="reset"]{
		width: 110px;
	}
}